/* -- 고객 서비스 CSS */

/* 고객 서비스 컨테이너 스타일 */
.customer-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  height: 400px;
}

/* 로고 컨테이너 스타일 */
.logo-container {
  margin-bottom: 20px; /* 로고와 공지 박스 사이의 간격 */
  text-align: center; /* 로고를 가운데 정렬 */
}

/* 로고 이미지 스타일 */
.logo {
  width: 150px; /* 로고 크기 조정 */
  margin-top: 10px;
}

/* 공지 박스 스타일 */
.notice-box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  width: 100%;
  text-align: center; /* 공지 박스 내 텍스트 중앙 정렬 */
}

/* 공지 헤더 스타일 */
.notice-header {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
  border-bottom: 2px solid #69f;
  padding-bottom: 5px;
  text-align: left; /* 공지 헤더 왼쪽 정렬 */
}

/* 공지 내용 스타일 */
.notice-content {
  color: #555;
  line-height: 1.6;
  text-align: center; /* 공지 내용 중앙 정렬 */
}

.notice-content h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.notice-content p {
  margin: 10px 0;
}

.notice-content hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}
