/* -- 홈 콘텐츠 CSS */

/* 전역 스타일 */
body {
  font-family: 'Arial', sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

/* 헤더 스타일 */
h1 {
  text-align: center;
  color: #333;
}

/* 포스트 리스트 컨테이너 */
.post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  max-width: 600px; /* 최대 너비 설정 */
  margin-right: 80px;
  margin-left: 80px;
  margin-top: 15px;
  margin-bottom: 40px;
  border-radius: 10px; /* 테두리 반경 추가 */
  background-color: #fff; /* 배경 색상 추가 */
}

/* 각 포스트 아이템 */
.post-item {
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 8px;
  width: 100%; /* 가로 폭을 100%로 설정 */
  margin-bottom: 20px;
  box-shadow: 0 2px 10px #0000001a;
  padding: 15px; /* 패딩 추가 */
}

/* 포스트 제목 스타일 */
.post-item h3 {
  font-weight: bold;
  margin: 10px 0;
  color: #6699ff;
}

/* 포스트 이미지 및 비디오 스타일 */
.post-item img,
.post-item video {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* 포스트 내용 스타일 */
.post-item p {
  margin: 10px 0;
}

/* 다운로드 링크 스타일 */
.post-item a {
  color: #69f;
  text-decoration: none;
  font-size: 14px;
}

/* 버튼 스타일 */
.post-item button {
  background: none;
  border: none;
  color: #69f;
  cursor: pointer;
  padding: 8px;
  font-size: 12px;
  border-radius: 5px;
}

/* 버튼 호버 스타일 */
.post-item button:hover {
  text-decoration: underline;
}

/* 액션 버튼 컨테이너 */
.post-item .actions {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid #dbdbdb;
  margin-top: 10px;
}

/* 액션 버튼 스타일 */
.post-item .actions button {
  background-color: #69f;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
  cursor: pointer;
}

/* 액션 버튼 호버 스타일 */
.post-item .actions button:hover {
  background-color: #69f;
}

/* 게시글 내용 스타일 */
.post-content {
  font-size: 18px; /* 폰트 사이즈 조정 */
  font-weight: bold; /* 글자 굵기 조정 */
  line-height: 1.6; /* 줄 간격 조정 */
  color: #333; /* 글자 색상 조정 */
}

/* 태그 및 날짜 스타일 */
.tags,
.post-date {
  color: #777777; /* 글자 색상 조정 */
}


/* 댓글 섹션 스타일 */
.comments-section {
  margin-top: 20px;
  padding-top: 20px;
  border: 1px solid #e0e0e0;
  background-color: #f9f9f9; /* 배경 색상 추가 */
  border-radius: 8px; /* 테두리 반경 추가 */
  padding: 20px; /* 패딩 추가 */
}

/* 댓글 리스트 스타일 */
.comments-list {
  margin-top: 10px;
}

.comments-section h4 {
  margin: 0; /* 마진을 0으로 설정 */
  color: #3f3f3f;
}

/* 각 댓글 아이템 스타일 */
.comment-item {
  padding: 15px 0; /* 패딩 조정 */
  border-bottom: 1px solid #e0e0e0;
  display: flex; /* Flexbox 추가 */
  justify-content: space-between; /* 간격 조정 */
}

/* 댓글 내용 스타일 */
.comment-item p {
  margin: 0; /* 마진 제거 */
  color: #333; /* 색상 조정 */
  flex-grow: 1; /* 내용 확장 */
  padding-right: 10px; /* 오른쪽 패딩 추가 */
}

/* 댓글 날짜 스타일 */
.comment-date {
  color: #999;
  font-size: 12px;
  align-self: flex-end; /* 날짜를 아래쪽에 정렬 */
  white-space: nowrap; /* 줄 바꿈 방지 */
}

/* 댓글 입력 필드 스타일 */
.comment-input {
  width: calc(100% - 20px);
  padding: 12px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  font-size: 12px;
  box-sizing: border-box;
  background-color: #fff; /* 배경 색상 추가 */
  transition: border-color 0.3s; /* 트랜지션 추가 */
}

/* 댓글 입력 필드 포커스 스타일 */
.comment-input:focus {
  border-color: #69f; /* 포커스 시 테두리 색상 변경 */
  outline: none; /* 포커스 시 기본 아웃라인 제거 */
}

/* 댓글 추가 버튼 스타일 */
.add-comment-button {
  background-color: #69f;
  color: #fff;
  border: none;
  padding: 10px 20px; /* 패딩 조정 */
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 12px;
  transition: background-color 0.3s; /* 트랜지션 추가 */
}

/* 댓글 추가 버튼 호버 스타일 */
.add-comment-button:hover {
  background-color: #69f;
  color: #fff;
}

/* 반응형 디자인 */
@media screen and (max-width: 600px) {
  .post-item {
    width: 100%; /* 모바일에서 폭을 100%로 설정 */
  }
}

